.plugin_acknowledgement_admin {
    nav {
        box-sizing: border-box;

        width: 100%;
        display: flex;
        justify-content: space-between;

        border: 1px solid @ini_border;
        padding: 1em;
        margin-bottom: 1em;
    }

    table {
        width: 100%;
    }
}
